@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1b2533;
}


/* Starry Background Container */
#stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  pointer-events: none;
  overflow: hidden;
}

/* Individual Star */
.star {
  position: absolute;
  width: 2px; 
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 5s infinite ease-in-out;
}

/* Twinkle Animation */
@keyframes twinkle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}